In [46]:
pip install PyYaml

Requirement already satisfied: PyYaml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (6.0.1)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: python3.12 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [47]:
#Connect with and upload data to the database
import yaml
from sqlalchemy import create_engine, inspect

class DatabaseConnector:
#initialize the db engine (makes connecting to other classes smoother)
    def __init__(self, creds_path):
        self.creds_path = creds_path
        self.engine = self.init_db_engine()

#Create a method read_db_creds this will read the credentials yaml file and return a dictionary of the credentials.
    def read_db_creds(self):
        with open(self.creds_path, 'r') as creds:
            credentials = yaml.safe_load(creds)
        return dict(credentials)

#read the credentials from the return of read_db_creds and initialise and return an sqlalchemy database engine
    def init_db_engine(self):
        credentials = self.read_db_creds()
        db_url = f"postgresql://{credentials['RDS_USER']}:{credentials['RDS_PASSWORD']}@{credentials['RDS_HOST']}:{credentials['RDS_PORT']}/{credentials['RDS_DATABASE']}"
        engine = create_engine(db_url)
        return engine

#Using the engine from init_db_engine create a method list_db_tables to list all the tables in the database so you know which tables you can extract data from.
    def list_db_tables(self):
        inspector = inspect(self.engine)
        table_names = inspector.get_table_names()
        return table_names

In [48]:
#This class will work as a utility class, in it you will be creating methods that help extract data from different data sources.
#The methods contained will be fit to extract data from a particular data source, these sources will include CSV files, an API and an S3 bucket.
import pandas as pd
from database_utils import DatabaseConnector

class DataExtractor:
#Initialize an instance via DatabaseConnector:
    def __init__(self):
        self.connector_instance = DatabaseConnector('/Users/itsanya/AiCore/MRDC/db_creds.yaml')

#Take in an instance of your DatabaseConnector class and the table name as an argument and return a pandas DataFrame
    def read_rds_table(self, table_name):
        engine = self.connector_instance.engine
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        return df

In [49]:
#Get table names from the db
creds_path = '/Users/itsanya/AiCore/MRDC/db_creds.yaml'
connector = DatabaseConnector(creds_path)
table_names = connector.list_db_tables()
print(table_names)

['legacy_store_details', 'legacy_users', 'orders_table']

In [50]:
class DataCleaning:
#Initialize:
    def __init__ ():

#Clean the user data, look out for NULL values, errors with dates, incorrectly typed values and rows filled with the wrong information
#Handling NULL values: Replace NULLs with a default value, impute using statistics, or drop rows/columns with too many missing values.
#Correcting date errors: Standardize date formats, parse and fill missing or incorrect dates.
#Correcting incorrectly typed values: Convert data types to the appropriate format (e.g., dates to datetime objects, strings to numeric values).
#Handling rows with wrong information: Identify outliers or incorrect entries and remove or correct them.
    def clean_user_data(self):

IndentationError: expected an indented block after function definition on line 3 (2072960639.py, line 10)

In [ ]:
#This method will take in a Pandas DataFrame and table name to upload to as an argument.
    def upload_to_db():

### Viewing the user data tables

Table 1: legacy_store_details

In [71]:
#This class will work as a utility class, in it you will be creating methods that help extract data from different data sources.
#The methods contained will be fit to extract data from a particular data source, these sources will include CSV files, an API and an S3 bucket.
import pandas as pd
from database_utils import DatabaseConnector

class DataExtractor:
#Initialize an instance via DatabaseConnector:
    def __init__(self):
        self.connector_instance = DatabaseConnector('/Users/itsanya/AiCore/MRDC/db_creds.yaml')

#Take in an instance of your DatabaseConnector class and the table name as an argument and return a pandas DataFrame
    def read_rds_table(self, table_name):
        engine = self.connector_instance.engine
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        return df
    
    def get_user_data_table(self, connector_instance):
    # Obtain list of tables from DatabaseConnector instance
        tables = connector_instance.list_db_tables()

        user_data_table = None
        for table in tables:
            if 'users' in table.lower() or 'details' in table.lower() or 'tables' in table.lower():
                user_data_table = table
                break

        if user_data_table:
        # Extract table containing user data using read_rds_table method
            return self.read_rds_table(connector_instance, user_data_table)
        else:
            return None     

    def read_and_display_table(self, table_name):
        # Extract the DataFrame using read_rds_table method
        data_table = self.read_rds_table(table_name)

        # Display the DataFrame contents
        print(data_table.head(450)) 
        print(data_table.info()) 
        print(data_table.columns.tolist()) 
        print("Head of every column in the DataFrame:")
        for column in data_table.columns:
            print(f"Column: {column}")
            print(data_table[column].head())  # Display head of the column
            print("-----------------------")

data_extractor = DataExtractor()
data_extractor.read_and_display_table('legacy_store_details')

#replace \n with space, ensure objects, in address column
#ensure longitude is a float64 to 5dp
#remove lat due to None values only
#ensure object VARCHAR(100) for locality column
#ensure structure of store code values is: alpha char x2 - alphanumeric characters x8
#ensure staff numbers are int64
#ensure opening date column has correct timestamp structure
#ensure store type is object VARCHAR(100)
#ensure latitude is a float64 to 5dp
#ensure country code is an object that is VARCHAR(100).upper() - check code for this!
#ensure continent is is an object VARCHAR(100) - with first letter of each word as .upper()
#remove row 447!
#if all of the above are not complied with, show or remove those rows of data?

     index                                            address   longitude  \
0        1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...    51.62907
1        2        Heckerstraße 4/5\n50491 Säckingen, Landshut    48.52961
2        3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury       51.26
3        4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...     53.0233
4        5  Flat 92u\nChristian harbors\nPort Charlotte\nN...    53.38333
..     ...                                                ...         ...
445    445  Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...    50.76306
446    446    Täschestraße 25\n39039 Nördlingen, Kirchlengern        52.2
447    447                                         K0ODETRLS3  K8CXLZDP07
448    448  Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...    51.62907
449    449               Baumplatz 6\n80114 Kötzting, Bretten    49.03685

            lat      locality   store_code staff_numbers opening_date  \
0          None  High Wycombe  HI-9B97EE4E            34   1996-10-25
1          None      Landshut  LA-0772C7B9            92   2013-04-12
2          None      Westbury  WE-1DE82CEE            69   2014-01-02
3          None        Belper  BE-18074576            35   2019-09-09
4          None  Gainsborough  GA-CAD01AC2            36   1995-05-15
..          ...           ...          ...           ...          ...
445        None         Cowes  CO-473A9FBB            94   2008-06-08
446        None  Kirchlengern  KI-78096E8C            61   2005-05-12
447  UXMWDMX1LC    3VHFDNP8ET   9D4LK7X4LZ    D23PCWSM6S   36IIMAQD58
448        None  High Wycombe  HI-EEA7AE62            33   1998-05-14
449        None       Bretten  BR-662EC74C            35   2020-10-17

      store_type    latitude country_code   continent
0          Local    -0.74934           GB      Europe
1    Super Store    12.16179           DE      Europe
2    Super Store     -2.1875           GB      Europe
3          Local    -1.48119           GB      Europe
4          Local    -0.76667           GB      Europe
..           ...         ...          ...         ...
445  Super Store    -1.29772           GB      Europe
446  Super Store     8.63333           DE      Europe
447   NN04B3F6UQ  JZP8MIJTPZ   B3EH2ZGQAV  1WZB1TE1HL
448        Local    -0.74934           GB      Europe
449        Local     8.70745           DE      Europe

[450 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          451 non-null    int64
 1   address        451 non-null    object
 2   longitude      451 non-null    object
 3   lat            11 non-null     object
 4   locality       451 non-null    object
 5   store_code     451 non-null    object
 6   staff_numbers  451 non-null    object
 7   opening_date   451 non-null    object
 8   store_type     451 non-null    object
 9   latitude       450 non-null    object
 10  country_code   451 non-null    object
 11  continent      451 non-null    object
dtypes: int64(1), object(11)
memory usage: 42.4+ KB
None
['index', 'address', 'longitude', 'lat', 'locality', 'store_code', 'staff_numbers', 'opening_date', 'store_type', 'latitude', 'country_code', 'continent']
Head of every column in the DataFrame:
Column: index
0    1
1    2
2    3
3    4
4    5
Name: index, dtype: int64
-----------------------
Column: address
0    Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...
1          Heckerstraße 4/5\n50491 Säckingen, Landshut
2    5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury
3    Studio 6\nStephen landing\nSouth Simon\nB77 2W...
4    Flat 92u\nChristian harbors\nPort Charlotte\nN...
Name: address, dtype: object
-----------------------
Column: longitude
0    51.62907
1    48.52961
2       51.26
3     53.0233
4    53.38333
Name: longitude, dtype: object
-----------------------
Column: lat
0    None
1    None
2    None
3    None
4    None
Name: lat, dtype: object
-----------------------
Column: locality
0    High Wycombe
1        Landshut
2        Westbury
3          Belper
4    Gainsborough
Name: locality, dtype: object
-----------------------
Column: store_code
0    HI-9B97EE4E
1    LA-0772C7B9
2    WE-1DE82CEE
3    BE-18074576
4    GA-CAD01AC2
Name: store_code, dtype: object
-----------------------
Column: staff_numbers
0    34
1    92
2    69
3    35
4    36
Name: staff_numbers, dtype: object
-----------------------
Column: opening_date
0    1996-10-25
1    2013-04-12
2    2014-01-02
3    2019-09-09
4    1995-05-15
Name: opening_date, dtype: object
-----------------------
Column: store_type
0          Local
1    Super Store
2    Super Store
3          Local
4          Local
Name: store_type, dtype: object
-----------------------
Column: latitude
0    -0.74934
1    12.16179
2     -2.1875
3    -1.48119
4    -0.76667
Name: latitude, dtype: object
-----------------------
Column: country_code
0    GB
1    DE
2    GB
3    GB
4    GB
Name: country_code, dtype: object
-----------------------
Column: continent
0    Europe
1    Europe
2    Europe
3    Europe
4    Europe
Name: continent, dtype: object
-----------------------

Table 2: legacy_users

In [64]:
#This class will work as a utility class, in it you will be creating methods that help extract data from different data sources.
#The methods contained will be fit to extract data from a particular data source, these sources will include CSV files, an API and an S3 bucket.
import pandas as pd
from database_utils import DatabaseConnector

class DataExtractor:
#Initialize an instance via DatabaseConnector:
    def __init__(self):
        self.connector_instance = DatabaseConnector('/Users/itsanya/AiCore/MRDC/db_creds.yaml')

#Take in an instance of your DatabaseConnector class and the table name as an argument and return a pandas DataFrame
    def read_rds_table(self, table_name):
        engine = self.connector_instance.engine
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        return df
    
    def get_user_data_table(self, connector_instance):
    # Obtain list of tables from DatabaseConnector instance
        tables = connector_instance.list_db_tables()

        user_data_table = None
        for table in tables:
            if 'users' in table.lower() or 'details' in table.lower() or 'tables' in table.lower():
                user_data_table = table
                break

        if user_data_table:
        # Extract table containing user data using read_rds_table method
            return self.read_rds_table(connector_instance, user_data_table)
        else:
            return None     

    def read_and_display_table(self, table_name):
        # Extract the DataFrame using read_rds_table method
        data_table = self.read_rds_table(table_name)

        # Display the DataFrame contents
        print(f"Contents of '{table_name}' Table:")
        print(data_table.head(10)) 
        print(data_table.info())
        print(data_table.columns.tolist()) 
        print("Head of every column in the DataFrame:")
        for column in data_table.columns:
            print(f"Column: {column}")
            print(data_table[column].head())  # Display head of the column
            print("-----------------------")


data_extractor = DataExtractor()
data_extractor.read_and_display_table('legacy_users')

Contents of 'legacy_users' Table:
   index first_name last_name date_of_birth                        company  \
0      0   Sigfried     Noack    1990-09-30             Heydrich Junitz KG
1      1        Guy     Allen    1940-12-01                        Fox Ltd
2      2      Harry  Lawrence    1995-08-02      Johnson, Jones and Harris
3      3     Darren   Hussain    1972-09-23                    Wheeler LLC
4      4      Garry     Stone    1952-12-20                     Warner Inc
5      5      David    Torres    1949-08-12                   Yang-Stewart
6      6       Anne    Morris    1952-11-10                 Hutchinson Inc
7      7      Louis   Roberts    2006-08-05  Hamilton, Walters and Clayton
8      8   Kathleen    Barlow    1959-11-13                   Ferguson Ltd
9      9      Emily     Jones    1992-10-09                Serrano-Leblanc

                  email_address  \
0             rudi79@winkler.de
1  rhodesclifford@henderson.com
2  glen98@bryant-marshall.co.uk
3    daniellebryan@thompson.org
4       billy14@long-warren.com
5         mwilliams@nichols.org
6     nhudson@taylor-horton.com
7  joanne04@jennings-watson.com
8         garymorton@clarke.com
9            toni24@carlson.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gießen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom
5     49226 Edwards Mountains\nNorth Sarah, DE 69608   United States
6                 33 Shaun locks\nMorganland\nG8 9YP  United Kingdom
7       Flat 68\nHamilton meadows\nNeilbury\nS88 8AP  United Kingdom
8     116 Smith junctions\nRichardsonmouth\nCO67 2LJ  United Kingdom
9  012 Andrea Circle Suite 129\nJosephmouth, AS 2...   United States

  country_code       phone_number   join_date  \
0           DE   +49(0) 047905356  2018-10-10
1           GB    (0161) 496 0674  2001-12-20
2           GB  +44(0)121 4960340  2016-12-16
3           GB    (0306) 999 0871  2004-02-23
4           GB      0121 496 0225  2006-09-01
5           US  277-664-6389x8405  2002-01-21
6           GB        028 9018749  2004-06-23
7           GB   +44(0)1414960221  2008-04-19
8           GB      028 9018 0338  1993-07-10
9           US         6554215915  1998-05-15

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579
5  53d21f46-1fa4-452f-a023-26aee2aae4d6
6  e2066a2c-8cd3-46ad-b2ea-e2445d5d9335
7  bd690c60-c952-40c0-82df-0f8b6797b562
8  02de2416-4baf-42ad-bae6-d716eca0fc3f
9  caffe463-4918-4f45-a37d-856dc0f15884
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB
None

Table #: orders_table

In [63]:
#This class will work as a utility class, in it you will be creating methods that help extract data from different data sources.
#The methods contained will be fit to extract data from a particular data source, these sources will include CSV files, an API and an S3 bucket.
import pandas as pd
from database_utils import DatabaseConnector

class DataExtractor:
#Initialize an instance via DatabaseConnector:
    def __init__(self):
        self.connector_instance = DatabaseConnector('/Users/itsanya/AiCore/MRDC/db_creds.yaml')

#Take in an instance of your DatabaseConnector class and the table name as an argument and return a pandas DataFrame
    def read_rds_table(self, table_name):
        engine = self.connector_instance.engine
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql(query, engine)
        return df
    
    def get_user_data_table(self, connector_instance):
    # Obtain list of tables from DatabaseConnector instance
        tables = connector_instance.list_db_tables()

        user_data_table = None
        for table in tables:
            if 'users' in table.lower() or 'details' in table.lower() or 'tables' in table.lower():
                user_data_table = table
                break

        if user_data_table:
        # Extract table containing user data using read_rds_table method
            return self.read_rds_table(connector_instance, user_data_table)
        else:
            return None     

    def read_and_display_table(self, table_name):
        # Extract the DataFrame using read_rds_table method
        data_table = self.read_rds_table(table_name)

        # Display the DataFrame contents
        print(f"Contents of '{table_name}' Table:")
        print(data_table.head(50)) 
        print(data_table.info())
        print(data_table.columns.tolist()) 
        print("Head of every column in the DataFrame:")
        for column in data_table.columns:
            print(f"Column: {column}")
            print(data_table[column].head())  # Display head of the column
            print("-----------------------")


data_extractor = DataExtractor()
data_extractor.read_and_display_table('orders_table')

Contents of 'orders_table' Table:
    level_0  index                             date_uuid  first_name  \
0         0      0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6        None
1         1      1  0423a395-a04d-4e4a-bd0f-d237cbd5a295        None
2         2      2  65187294-bb16-4519-adc0-787bbe423970        None
3         3      3  579e21f7-13cb-436b-83ad-33687a4eb337        None
4         4      4  00ab86c3-2039-4674-b9c1-adbcbbf525bd        None
5         5      5  c3a1df8f-6918-4795-9f8a-6869b2cda9cf       Brett
6         6      6  ac94c06e-b5ba-4794-bbf3-3ea9dc0e6b6c        None
7         7      7  27a59013-6ecf-4f3d-86f8-8e972a8f346c        None
8         8      8  38ebd7b6-b1d4-462e-bfd7-265e3674ef3f      Marion
9         9      9  e764e21c-f9ce-4e0a-8c01-4218e92e424c        None
10       10     10  938a8972-784f-4f65-84bc-5fe51051ccbe        None
11       11     11  2e78a288-31c6-4a2a-8aea-cb93ad389aaa  Kreszentia
12       12     12  0e1e7e2b-ba00-4c47-9daf-d8f527086f76        None
13       13     13  07248e1a-da56-4e94-8510-a9a47f80e0e2      Ramona
14       14     14  734714b8-f418-4c3b-bffd-9621beb0ea3b        None
15       15     15  b6831c7f-e8f2-42e8-b05c-94f3921fdee2        None
16       16     16  f84d4161-6aad-4730-9c90-391ca8db44af        None
17       17     17  3db24e27-18e7-457e-9bb7-2a1ae81c8e13        None
18       18     18  f0bf8f8f-4a5e-4ab3-8ea8-6486205fc0b9        None
19       19     19  41ade3a2-74b0-4098-9b0e-d3fe33a9a1a7        None
20       20     20  76178fe3-b3c6-4a51-890b-b92347d23cce        None
21       21     21  ebac50ce-42a3-469e-b000-bb4c813a362a        None
22       22     22  f4f402e6-4223-4bfe-84a7-debd3df1850c        None
23       23     23  07d20be3-eca5-49a0-8e04-ab64ba757fad        None
24       24     24  0b7145a1-cc1e-478c-bc49-44c625f4eb06        None
25       25     25  33c0fd7f-1d17-4b2a-9589-2e9d0c3ac8a3       Mandy
26       26     26  fa27f9b3-6a48-4f2e-b493-93ff7b9c57c5      Gunter
27       27     27  229eb324-901c-4868-9693-d2d466dbf07e        None
28       28     28  b7842a67-a6c7-4172-8b14-fd2da5bbf84b       Brian
29       29     29  4320f5bd-de8e-43b4-9676-0168c368a26f        None
30       30     30  84ad4f7d-7b7d-4bdd-a620-b96c8c5c0078        None
31       31     31  9aa479b6-6d12-4368-ae8b-c9d4f585dacf    Isabella
32       32     32  1a1d4936-21b1-4960-822c-2b7c44dba3d0        None
33       33     33  04a4f1dc-2bd8-4b03-be15-b641c064f4d3        None
34       34     34  16fa0762-50d5-4e38-bf19-10265e0abd93        None
35       35     35  983cfec4-5d2b-41b0-9899-9efacbf6467f        None
36       36     36  b1fe1d08-e13f-4d6b-8e5f-642d1917fd3e        None
37       37     37  09f5d05f-97c3-47ba-a3e1-e02bdd12de93        None
38       38     38  58943d02-676e-4cc0-85bc-e1a50461a2b3        None
39       39     39  50fb324f-8380-480d-b4e0-0ab354f95875        None
40       40     40  0993d886-473c-4cd4-b028-4af87564b47e        None
41       41     41  85e09a7b-9446-4374-9c6e-c987da213025        None
42       42     42  9f740e23-6eb8-465e-b421-6460706aa6b7       Marie
43       43     43  2fe52a66-2690-4c4c-9798-350684bd221e        None
44       44     44  8d0b3c8d-6abd-4c43-abc6-8db9331ffb1d        None
45       45     45  0f5dcea9-e7f8-4851-b1bd-cdebbee98884        None
46       46     46  8ee4952c-1fcb-4c71-8db1-42339f385259        None
47       47     47  0ce90a01-1885-46a6-9f42-d1b257ed4acc        None
48       48     48  04650179-9a93-420b-9f65-ee5ba84e9618        None
49       49     49  2feecc4f-94b5-4ce3-aeb7-981e7570fd93     Rachael

   last_name                             user_uuid          card_number  \
0       None  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8       30060773296197
1       None  8fe96c3a-d62d-4eb5-b313-cf12d9126a49      349624180933183
2       None  fc461df4-b919-48b2-909e-55c95a03fe6b     3529023891650490
3       None  6104719f-ef14-4b09-bf04-fb0c4620acb0      213142929492281
4       None  9523a6d3-b2dd-4670-a51a-36aebc89f579         502067329974
5      Welch  53d21f46-1fa4-452f-a023-26aee2aae4d6     3506661913512980
6       None  e2066a2c-8cd3-46ad-b2ea-e2445d5d9335      377549437870679
7       None  bd690c60-c952-40c0-82df-0f8b6797b562     2321541881278150
8     Stokes  02de2416-4baf-42ad-bae6-d716eca0fc3f     6011037917693140
9       None  caffe463-4918-4f45-a37d-856dc0f15884         502049986008
10      None  884fa18d-cc40-4e75-87c6-0786ab29933a     6501622116456490
11   Hornich  bf86d13b-882b-485e-addd-0c4e9a39a96c     6502495513721380
12      None  52717e6a-955c-4c16-8f25-9e6a71ba3f60     3551071736826240
13     Eimer  196c8554-5df5-4519-973c-e05c0781cf52      371493449732930
14      None  21be4057-b932-41c4-96c0-0c9ab2c48d6c     3536516200696080
15      None  c6eeaf38-40d1-490d-be78-0cadf870fdc3     5222519319551540
16      None  7c8dc654-3994-40b1-a4a2-e55dc7081fe0  4537509987455280000
17      None  3ca7e4af-c9af-4ae8-bf68-cf9e9ddf745c     6011881097126120
18      None  4dff00da-ffb7-4cd4-accf-805738e630dd  4204210033998580000
19      None  649b54e4-011e-43e1-b0f7-e90f355f806e     3540126062083770
20      None  94c31d97-64cd-49c7-8ad8-d4b04fb76f26      180093132939478
21      None  fbf6ce18-7838-40fc-9cf9-5c90e26b5b65     3579161126932720
22      None  ae5e0cde-2394-47ce-9905-d038dfd00cbb     4045259395988290
23      None  fb47ef8a-7caf-4f43-b227-8fd0354caf85  4305628477334070000
24      None  04c29a16-f3b3-4ca8-8971-e67d7863985d     6011112632675670
25    Murray  10730690-b150-4328-83c9-023d594e9215      370629659061970
26   Ziegert  be05cc7e-01f8-47a8-9b38-7ec396c41802     3565388078802970
27      None  e4aae45c-d605-4457-860d-8a460a0a1d69     4413511328768020
28    Hughes  4b0ff74b-8247-45e4-9d04-41b0a81be3e6     3510326851192930
29      None  34860ee2-e024-427f-b0d4-8e070881ce3a       30439078921644
30      None  fbedd1b1-463d-4660-83f5-cda91c900731     2296814173210180
31      Kade  c4e8899f-a2c2-4bb6-98d0-58fc3a23c412     2297205767081190
32      None  15c4c46f-c2d4-4b5f-b89d-6c5dca1fe8e7       30280604114274
33      None  c313c419-7e6e-44fa-9e4d-d0f0cf98df1f  4024414397695410000
34      None  06999681-7360-461c-9a1f-9dd85a97b871     4529390944325970
35      None  ee0c5f80-2a18-42df-ad88-e898de71dd50          60485138139
36      None  38ea92ef-c7fb-4007-83fd-62d75d41487f        4243023678099
37      None  a0f59605-c280-4714-aad1-0768269ecd86  4976058331830470000
38      None  bc2b54b8-f175-46ab-906a-4f15746c4f49     4224188732297920
39      None  15e92a28-e885-4844-9ead-17cb1a56fa6c     3514396157366920
40      None  d0286115-f060-486f-b8e3-7fa179f2f33e       30158747323244
41      None  3efb6344-d456-4b1e-bf28-42afb304fda2     3590999821623690
42     Brown  5e9eb81e-65b2-4847-9143-f2f7be6da2c3          60457486839
43      None  c3f421dc-c208-4a6d-a28a-84af24ec9c6d        4934170565606
44      None  0b935d06-7803-4a79-b2e6-07cc22c02658       36125643138236
45      None  cbb483e5-be8d-4d9c-919d-2f3a2a9d1ac7     4499574398661660
46      None  08f59639-080d-4381-9cc0-a77b4bc7d04b       30079697561056
47      None  5725911a-5d89-479e-997e-e1e734efbc76     3569354729407150
48      None  2f290212-2388-4838-83eb-b8f704c8d7b8      213139697145299
49    Hughes  43fe9e5e-3043-4e26-b84d-e5e6b0a77682         676119752563

      store_code product_code     1  product_quantity
0    BL-8387506C  R7-3126933h  None                 3
1   WEB-1388012W  C2-7287916l  None                 2
2    CH-01D85C8D  S7-1175877v  None                 2
3    CL-C183BE4B  D8-8421505n  None                 2
4    SO-B5B9CB3B  B6-2596063a  None                 2
5   WEB-1388012W  g3-7974400s  None                 2
6    AR-0C5116E4  U3-5148457q  None                 4
7    OB-FDC2CF69  q8-5387483Z  None                 3
8   WEB-1388012W  i4-2651057I  None                 5
9    BE-6F48991F  b6-6234052g  None                 2
10   PO-E636D18D   g5-411324A  None                 8
11  WEB-1388012W  S6-3678717g  None                 1
12  WEB-1388012W  Z2-0851042W  None                 8
13  WEB-1388012W  t5-7763922W  None                 6
14  WEB-1388012W  Z8-4148279f  None                 2
15   GR-18E26E0C  l4-0484985I  None                 2
16   HA-B6953307  P1-5362711n  None                 1
17   CH-7C155EA7  v7-6917295v  None                 3
18  WEB-1388012W  D0-3518057L  None                 3
19   CL-7BF16887    w1-22434p  None                 2
20   LA-DE474D42  W4-8185499V  None                12
21   AR-ADA61B10  Y1-0776845n  None                 1
22   HI-F2784D72  l7-1024003n  None                 1
23   LA-347073D1  w9-8766704u  None                 1
24   HE-A49D28DF  f1-4722530k  None                 5
25  WEB-1388012W    w4-86578A  None                 4
26  WEB-1388012W  E4-7336898r  None                 2
27   BA-8BA66AA0  y2-2987173c  None                 3
28  WEB-1388012W    k6-93543H  None                15
29   PE-78E2B585  G4-9696129s  None                 3
30   CH-6A561423  x7-0261657H  None                 2
31  WEB-1388012W  t8-6507415K  None                 3
32   AL-9E1A5529  X9-2624620g  None                14
33   EH-91356030  U3-7247637T  None                 6
34   BE-9A378A7F  o0-4016167t  None                 4
35   PO-38790FAE  Z6-5998255Z  None                 1
36   LO-C4AB23C1  I0-2219203g  None                 8
37   BE-6F48991F  J3-4488330L  None                 1
38   EH-91356030   z8-257244T  None                 3
39   KI-81D6FEBD  l1-4267653w  None                 1
40  WEB-1388012W  u3-7131504g  None                 1
41   TH-D62B06B7  C8-2195382O  None                 4
42  WEB-1388012W  q5-6488109e  None                 5
43   WE-31C8B335  E9-2666287w  None                 4
44   BA-25629F8E  q7-0232955R  None                 3
45   BA-41B2EB4B   H9-403416k  None                 2
46   RA-412FE889  i7-2575230x  None                 1
47   TH-B6A0AB51  L7-8919618p  None                 1
48   NE-2B35DCBD  n5-7375132t  None                 4
49  WEB-1388012W  r8-2771125H  None                 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120123 entries, 0 to 120122
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   level_0           120123 non-null  int64
 1   index             120123 non-null  int64
 2   date_uuid         120123 non-null  object
 3   first_name        15284 non-null   object
 4   last_name         15284 non-null   object
 5   user_uuid         120123 non-null  object
 6   card_number       120123 non-null  int64
 7   store_code        120123 non-null  object
 8   product_code      120123 non-null  object
 9   1                 0 non-null       object
 10  product_quantity  120123 non-null  int64
dtypes: int64(4), object(7)
memory usage: 10.1+ MB
None