In [96]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from IPython.display import display
from data_cleaning import DataCleaning
from cleaner import DataCleaner
import pandas as pd

In [94]:
creds_path = '/Users/itsanya/AiCore/MRDC/db_creds.yaml'
db_connector_instance = DatabaseConnector(creds_path) 
data_extractor = DataExtractor(db_connector_instance) 
data_cleaner = DataCleaning()

In [7]:
#Legacy Store Details

In [98]:
#Extract
table_name = 'legacy_store_details'
store_df = data_extractor.read_rds_table(table_name)

#Clean
    
    #Numerical columns
#1. work through numeric column
#2. basic clean - ie remove any non-numerical value from column
#3. transform dt of the column (pd.tonumeric()) - opening_date starts here
#4. drop.na() - drops all NULLS

    #Non-numerical columns
#1. df.column_name.unique() - identify unique columns

#Example:
#clean_store_df = data_cleaning.clean_store_data(store_df)
print(type(store_df))

#View Data after cleaning
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #display(clean_store_df)

<class 'pandas.core.frame.DataFrame'>

In [97]:
#clean_store_df = data_cleaning.clean_store_data(store_df)
#print(clean_store_df)

#DataCleaner.clean_store_data(store_df)
DataCleaner.hello('hi my name is sam')

#View Data after cleaning
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #display(clean_store_df)

TypeError: DataCleaner.hello() takes 0 positional arguments but 1 was given

In [ ]:
#Legacy Users

In [101]:
table_name = 'legacy_users'
users_df = data_extractor.read_rds_table(table_name)
print('Legacy Users Table\n', users_df.head())
print('\n')

Legacy Users Table
    index first_name last_name date_of_birth                    company  \
0      0   Sigfried     Noack    1990-09-30         Heydrich Junitz KG
1      1        Guy     Allen    1940-12-01                    Fox Ltd
2      2      Harry  Lawrence    1995-08-02  Johnson, Jones and Harris
3      3     Darren   Hussain    1972-09-23                Wheeler LLC
4      4      Garry     Stone    1952-12-20                 Warner Inc

                  email_address  \
0             rudi79@winkler.de
1  rhodesclifford@henderson.com
2  glen98@bryant-marshall.co.uk
3    daniellebryan@thompson.org
4       billy14@long-warren.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gießen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom

  country_code       phone_number   join_date  \
0           DE   +49(0) 047905356  2018-10-10
1           GB    (0161) 496 0674  2001-12-20
2           GB  +44(0)121 4960340  2016-12-16
3           GB    (0306) 999 0871  2004-02-23
4           GB      0121 496 0225  2006-09-01

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579

In [ ]:
table_name = 'orders_table'
orders_df = data_extractor.read_rds_table(table_name)
print('Orders Table Table\n', orders_df.head())
print('\n')

In [125]:
table_name = 'legacy_store_details'
store_df = data_extractor.read_rds_table(table_name)
print('Legacy Store Details Table\n', store_df.head())
print('\n')

Legacy Store Details Table
    index                                            address longitude   lat  \
0      1  Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...  51.62907  None
1      2        Heckerstraße 4/5\n50491 Säckingen, Landshut  48.52961  None
2      3  5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury     51.26  None
3      4  Studio 6\nStephen landing\nSouth Simon\nB77 2W...   53.0233  None
4      5  Flat 92u\nChristian harbors\nPort Charlotte\nN...  53.38333  None

       locality   store_code staff_numbers opening_date   store_type  \
0  High Wycombe  HI-9B97EE4E            34   1996-10-25        Local
1      Landshut  LA-0772C7B9            92   2013-04-12  Super Store
2      Westbury  WE-1DE82CEE            69   2014-01-02  Super Store
3        Belper  BE-18074576            35   2019-09-09        Local
4  Gainsborough  GA-CAD01AC2            36   1995-05-15        Local

   latitude country_code continent
0  -0.74934           GB    Europe
1  12.16179           DE    Europe
2   -2.1875           GB    Europe
3  -1.48119           GB    Europe
4  -0.76667           GB    Europe