In [12]:
from database_utils import DatabaseConnector
from data_extraction import DataExtractor
from data_cleaning import DataCleaning
from data_processing import DataProcessor
from IPython.display import display
import pandas as pd

In [13]:
creds_path = '/Users/itsanya/AiCore/MRDC/db_creds.yaml'
db_connector_instance = DatabaseConnector(creds_path) 
data_extractor = DataExtractor(db_connector_instance) 
data_cleaner = DataCleaning()
data_processor = DataProcessor()

In [14]:
#Legacy Users
#Extract
table_name = 'legacy_users'
users_df = data_extractor.read_rds_table(table_name)

#Clean
cleaned_users_df = data_cleaner.clean_users_df(users_df)

#View Cleaned DataFrame
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(cleaned_users_df)

#Upload to dim_users
#db_connector_instance.upload_to_db(table_name='dim_users', df=cleaned_users_df)

TypeError: DataCleaning.clean_users_df() takes 1 positional argument but 2 were given

In [4]:
#Legacy Store Details
#Extract
table_name = 'legacy_store_details'
store_df = data_extractor.read_rds_table(table_name)

#Clean


#View Cleaned Data
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #display(clean_store_df)

Legacy Users Table
    index first_name last_name date_of_birth                    company  \
0      0   Sigfried     Noack    1990-09-30         Heydrich Junitz KG
1      1        Guy     Allen    1940-12-01                    Fox Ltd
2      2      Harry  Lawrence    1995-08-02  Johnson, Jones and Harris
3      3     Darren   Hussain    1972-09-23                Wheeler LLC
4      4      Garry     Stone    1952-12-20                 Warner Inc

                  email_address  \
0             rudi79@winkler.de
1  rhodesclifford@henderson.com
2  glen98@bryant-marshall.co.uk
3    daniellebryan@thompson.org
4       billy14@long-warren.com

                                             address         country  \
0                       Zimmerstr. 1/0\n59015 Gie√üen         Germany
1  Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH  United Kingdom
2                 92 Ann drive\nJoanborough\nSK0 6LR  United Kingdom
3             19 Robinson meadow\nNew Tracy\nW22 2QG  United Kingdom
4              3 White pass\nHunterborough\nNN96 4UE  United Kingdom

  country_code       phone_number   join_date  \
0           DE   +49(0) 047905356  2018-10-10
1           GB    (0161) 496 0674  2001-12-20
2           GB  +44(0)121 4960340  2016-12-16
3           GB    (0306) 999 0871  2004-02-23
4           GB      0121 496 0225  2006-09-01

                              user_uuid
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2  fc461df4-b919-48b2-909e-55c95a03fe6b
3  6104719f-ef14-4b09-bf04-fb0c4620acb0
4  9523a6d3-b2dd-4670-a51a-36aebc89f579

In [11]:
#Orders Table
#Extract
table_name = 'orders_table'
orders_df = data_extractor.read_rds_table(table_name)

#Clean


#View Cleaned Data
#with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    #display(clean_store_df)

#Upload to ...

Orders Table Table
    level_0  index                             date_uuid first_name last_name  \
0        0      0  9476f17e-5d6a-4117-874d-9cdb38ca1fa6       None      None
1        1      1  0423a395-a04d-4e4a-bd0f-d237cbd5a295       None      None
2        2      2  65187294-bb16-4519-adc0-787bbe423970       None      None
3        3      3  579e21f7-13cb-436b-83ad-33687a4eb337       None      None
4        4      4  00ab86c3-2039-4674-b9c1-adbcbbf525bd       None      None

                              user_uuid       card_number    store_code  \
0  93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8    30060773296197   BL-8387506C
1  8fe96c3a-d62d-4eb5-b313-cf12d9126a49   349624180933183  WEB-1388012W
2  fc461df4-b919-48b2-909e-55c95a03fe6b  3529023891650490   CH-01D85C8D
3  6104719f-ef14-4b09-bf04-fb0c4620acb0   213142929492281   CL-C183BE4B
4  9523a6d3-b2dd-4670-a51a-36aebc89f579      502067329974   SO-B5B9CB3B

  product_code   1  product_quantity
0  R7-3126933h NaN                 3
1  C2-7287916l NaN                 2
2  S7-1175877v NaN                 2
3  D8-8421505n NaN                 2
4  B6-2596063a NaN                 2